<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Page Title</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="">
<style>
</style>
<script src=""></script>
<body>

<img src="company_logo.png" alt="AI generated logo" style="width:100%">
<div class="">
 <h1>LOGO</h1>
 <h2>Get personalized movie recommendations based on your Spotify activity.</h2>
 <button></button>
</div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
</body>
</html>